*{

    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
           height: 100%;
           width: 100%;
          background-color: white;
}
#main{
     height: 100%;
     width: 100%;
   background-color: white;
}
#header{ 
    position: fixed;   
     height: 15%;
     width: 100%;
    display: flex;
    align-items: center;   
    justify-content: space-around;   
    background-color: rgb(86, 129, 186);
} 
#fakeheader{
     height: 15%;
     width: 100%;
     background-color: aquamarine;
} 

.texts{ 
        display: flex;
        align-items: center;
        
        color: rgb(237, 238, 233);
        font-weight: bold;
}
.texts:hover{
    color: rgb(15, 15, 80);

}

#logo{ 
    height: 75%;
    margin-bottom: 24px;

}
#logo img{
      
       height: 132%;
       width: 132%;
     object-fit: cover;   
}


#page1{
    height: 85%;
    width: 100%;
    background-color: rgb(183, 195, 201);
}

#strip{
    height: 9%;
    width: 100%;
    background-color:  rgba(36, 73, 134, 0.803);
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;    /*all texts colour */
}
#strip p{
    text-align: center;
    width: 40%;
    padding: 8px;
    word-spacing: 40px;
    letter-spacing: 5px;
    font-family: monospace;
    font-size: 1.1pc;

}

#content{
    height:74% ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;


}
#box1{
    height: 85%;
    width: 45%;
    border-radius: 35px;
        background-image:  url(WhatsApp\ Image\ 2024-08-24\ at\ 20.31.17_a1bde772.jpg);
        border-radius: 35px;
        background-size: cover;
        background-repeat: no-repeat; 
        background-position: center;
}
#box1 h1{
    height: 15%;
    width: 100%;
    margin-top: 0px;
    
    margin-left: 55px;
    font-weight: 600;
    color: rgb(32, 44, 66);
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#box1 p{
    height: 25%;
    width: 80%;
    margin-left:60px ;
   
    word-spacing: 1px;
    color: rgb(25, 43, 56);
    font-size:large;
    font-weight: lighter;
}

#box2{
        height: 85%;
        width: 45%;
        background-color: rgb(206, 189, 189);
        border-radius: 35px;
}
#box2 img{
    height: 100%;
    width: 100%;
     object-fit: cover;
     border-radius: 35px;

     
}
#details{
    height: 17%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color:white
}

.container {
    width: 100%;
    height: 100%;
    background: #aec2c2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
}
.container img{
    margin-top: 40px;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 40%;
    object-fit: cover;
    border-radius: 20px;
}
.btn {
    padding: 10px 60px;
    background: #9bbfc2;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
    position: relative; 
}

.popup {           
    width: 300px;
    background: #9697c8;
    border-radius: 6px;
    position: absolute;
    border-radius: 30px;
    left: 50%;
    font-family: monospace;
    transform: translate(-50%, 20px) scale(0.1); 
    padding: 0 30px 30px;
    color: #172327fd;
    visibility: hidden;
    transition: transform 0.6s, top 0.6s; 
}

#browse{
     height: 50%;
     width: 80%;
     background-color: #5749d6;

}

.btn:hover + .popup {
    visibility: visible;
    bottom: 95%; 
    transform: translate(-50%, 10px) scale(1); 
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(251, 241, 249);
    
  }

#lower1{
    height: 70%;
    width: 100%;
    background-color: #6fd649;
}

#lower2{
    height: 30%;
    width: 100%;
    background-color: aqua;
}


.my-video {
    border: 5px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}
